@page "/"
@model InputPage
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>My Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        form {
            text-align: center;
            margin: 20px auto;
            width: 300px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
            box-sizing: border-box; /* Add this line */

        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        #logo {
    position: absolute;
    top: 10px; /* Adjust this value to control vertical position */
    left: 10px; /* Adjust this value to control horizontal position */
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio of the logo */
}

    </style>
</head>
<body>
        <img src="/BG.png" alt="Your Logo" id="logo">
    <h1>به سرویس استعلام ایثارگری خوش آمدید</h1>
    
    <form method="post" action="">
        <label for="nationalCode">لطفا کد ملی مورد نظر خود را وارد کنید</label>
        <input type="text" id="nationalCode" name="nationalCode" maxlength="10" required>
        <br>
        <input type="submit" value="استعلام">
    </form>
</body>
</html>
